<div class="player" id= "user-<%= user.id %>">
  <div class="image-player">
    <%= image_tag "avatar.jpg" %>
  </div>
  <div class="user-ready"></div>
  <div class="text-center"><strong><%= user.name %></strong></div>
  <div class="user-win"><span>1996</span></div>
  <div class="text-center"><span>TRẬN THẮNG</span></div>
</div>
