<div class="container">
  <div class="row">
    <div class="content-exam row">
      <div class="time-exam">
        <div class="time-exam-lock">
          <i class="fa fa-clock-o"></i>
        </div>
      </div>
      <div class="image-exam">
        <%= image_tag "question.png" %>
      </div>
      <div class="question-exam" data-number-room="<%= @number_room %>">
        <span>Huyền có 20 bút chì màu, biết Huyền đã làm mất 4 chiếc bút chì màu. Số bút chì màu còn lại Huyền chia đều cho 2 em. Hỏi mỗi em có bao nhiêu bút chì màu?</span>
      </div>
      <div class="answer-exam">
        <div class="answer-exam-left">
          <div class="pointer"><span>5 Bút chì màu</span></div>
          <div class="pointer"><span>6 Bút chì màu</span></div>
        </div>
        <div class="answer-exam-right">
          <div class="pointer-two"><span>7 Bút chì màu</span></div>
          <div class="pointer-two"><span>8 Bút chì màu</span></div>
        </div>
      </div>
      <div class="totoal-question-exam">
        <span>6/10</span>
      </div>
    </div>
    <div class="rank row">
      <div class="top-nav-rank">
        <span>BẢNG XẾP HẠNG</span>
      </div>
      <div class="content-rank">
        <div class="play-rank">
          <span><b>1-</b> Tran Duc Thang  <b>(1996)</b></span>
        </div>
        <div class="play-rank"></div>
        <div class="play-rank"></div>
        <div class="play-rank"></div>
        <div class="play-rank"></div>
        <div class="play-rank"></div>
        <div class="play-rank"></div>
        <div class="play-rank"></div>
        <div class="play-rank"></div>
        <div class="play-rank"></div>
      </div>
      <div class="footer-rank">

      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  function loadQuestion() {
    var id_room = $('.question-exam').data('number-room');
    if ((sessionStorage.getItem("check_incre") == "true")){
      var tpm = parseInt(sessionStorage.getItem("number_question")) + 1;
      sessionStorage.setItem("number_question", tpm);
      console.log(tpm);
    }else {
      sessionStorage.setItem("number_question", 1);
      sessionStorage.setItem("check_incre", true);
      console.log(sessionStorage.getItem("number_question"));
    }
    $.ajax({
      url: '/rooms/' + id_room + '/exames',
      type: 'GET',
      dataType: 'json',
      data: {
        status: true,
        i: sessionStorage.getItem("number_question"),
        exame_id: sessionStorage.getItem("exame_id")
      },success: function(result) {
        if(result.status == "1"){
          window.location.replace(result.url);
        }else{
          $('.question-exam span').html(result.question);
        }
      }
    });
  }
  setInterval(function(){
    if(sessionStorage.getItem("number_question") == 10){
      sessionStorage.clear();
    }else {
      loadQuestion();
    }
  }, 5000);
</script>
